* {
  margin: 0px;
  padding: 0px;
}

div#app {
  background-color: rgb(140, 160, 180);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

div#app main aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
}

div#app main aside h1 {
  font-size: 40px;
}

div#app main aside h1 span {
  color: rgb(226, 25, 25);
}
div#app main section {
  width: 100%;
  height: 85vh;
}

div#app main section form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

div#app main section form .fleet,
div#app main section form .service,
div#app main section form .issues {
  height: 20vh;
  margin: 0 1%;
  padding: 4px 20px;
  border: none;
  font-size: 30px;
  border-radius: 7px;
  background-color: rgb(30, 50, 70);
  color: rgb(240, 240, 240);
}

div#app main section form button:hover {
  background-color: rgb(50, 70, 90);
  cursor: pointer;
}
@media (max-width: 1024px) {
  div#app main section form {
    flex-direction: column;
  }
  div#app main section form .fleet,
  div#app main section form .service,
  div#app main section form .issues {
    height: 10vh;
    margin: 40px 0;
  }
}

@media (max-width: 600px) {
  div#app main aside h1 {
    font-size: 28px;
  }
}
